*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}


.container-admin-page{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #E8E2FF;
}

.admin-profile-page{

}

header{

}

.content{
    padding: 10px;
    
}

.texto{
    justify-content: center;
    font-size: 23px;
}

.card-perfil{
    margin: 10px;
}
