*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-admin-page{
    width:  100%;
    margin: 0;
}

.admin-profile-page{

}

header{

}

.content{
    padding: 10px;
    background-color: #E8E2FF;
}

.texto{
    justify-content: center;
    
}

.card-perfil{
    margin: 10px;
}
