*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-admin-page{
    width:  100%;
    margin: 0;
}

.content-header{
    display: flex;
    flex-wrap: wrap;
}

.cadastrar-filme{
    
}

.cadastrar-filme:hover{
    cursor: pointer;
}